@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@400;600;700;800&family=Noto+Serif+Display:wght@400;600;800&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

:root {
  --orange: #fd7e14;
  --blue: #0532f0;
}

body {
  width: 100vw;
  max-width: 100%;
  background: linear-gradient(to left, #aa4b6b, #6b6b83, #3b8d99);
  border: solid px red;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav h1 {
  font-size: 3rem;
  font-family: italic;
  margin-left: 10px;
}

.nav i {
  font-size: 2rem;
}

.menu-toggle {
  display: none;
}

.menu-button {
  cursor: pointer;
  margin-right: 10px;
}

.toggle {
  display: none;
  position: absolute;
  right: 0;
  top: 78px;
  width: 200px;
  height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
}

.toggle li {
  list-style: none;
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  margin: 40px;
}

.toggle a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.toggle a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.menu-toggle:checked + .toggle {
  display: block;
}

.img__content {
  display: block;
  width: 100%;
  height: auto;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info h1 {
  font-size: 5rem;
  width: 400px;
  margin: 2rem auto;
}

.info__p {
  width: 400px;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
}

.info button {
  width: 120px;
  height: 50px;
  background-color: var(--blue);
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
  cursor: pointer;
}

.info button:hover {
  background-color: #0b1b64;
  transition: 0.3s;
}

footer {
  background-color: white;
  color: black;

  position: absolute;
  bottom: 0 auto;
  width: 100%;
}

.footer__content {
  font-weight: 100;
  text-align: center;
  padding: 5px;
}

.footer__img img {
  height: 35px;
}

.contenedor__2 {
  background-color: rgb(241, 241, 241);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor__2 h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__info {
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin: 12px 0px;
  text-align: center;
  border-radius: 8px;
  border-bottom: solid var(--blue) 5px;
}

.content__info i {
  font-size: 3rem;
  padding: 10px;
  margin: 10px 0;
  color: var(--blue);
}

.content__info p {
  color: grey;
  padding: 10px;
  margin-top: 10px;
}

.contenedor__3 {
  background-color: rgb(241, 241, 241);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 30px;
}

.contenedor__3 h1 {
  margin-bottom: 20px;
  margin-top: 50px;
  color: black;
}

.content__info3 {
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
  border-bottom: solid var(--blue) 5px;
  text-align: start;
}

.content__info3 i {
  font-size: 20px;
  color: var(--blue);
  margin-right: 12px;
}

.content__info3 p {
  color: grey;
  padding: 10px;
  margin-top: 10px;
}

.content__info3 a {
  text-decoration: none;
  color: grey;
}

.content__info3 h2{
  text-align: center;
}

.descripcion {
  font-size: 14px;
  text-align: center;
}

.content__card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 8px;
  border-bottom: solid var(--blue) 5px;
}

.content__card i {
  font-size: 6rem;
  color: var(--blue);
  margin-bottom: 15px;
}

.content__card p {
  text-align: center;
  color: grey;
  font-size: 18px;
}

.content__card button {
  margin-top: 10px;
  background: white;
  border: solid var(--blue) 1px;
  width: 150px;
  height: 45px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: var(--blue);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.content__card button:hover {
  background-color: var(--blue);
  color: white;
  transition: all 0.3s;
}

.clients{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
  width: 100%;
}

.clients__title{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: black;
  margin-bottom: 10px;
}

.clients__logos{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-bottom: solid var(--blue) 5px;
}

.clients__logos img{
  width: 60px;
  margin: 20px;
}

@media screen and (min-width: 1000px) {
  .nav {
    background: rgba(0, 0, 0, 0.5);
  }

  .nav i {
    display: none;
  }

  .toggle {
    width: auto;
    height: auto;
    background: local;
    top: auto;
    right: 0;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .toggle li {
    margin: 0 15px;
    font-weight: 100;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    font-size: 20px;
  }

  .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 20px;
  }

  .info button {
    margin-right: 70px;
    margin-top: 30px;
  }
  .content {
    flex-direction: row;
  }

  .content__info {
    margin: 0px 30px 30px;
  }

  .content__3 {
    flex-direction: row;
  }
}
